{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<style>
    form{
        font-size: larger;
        font-style: italic;
    }
    button{
        height: 50px;
        width: 100px;
        background-color: red;
    }
    input{
        width: 220px;
        height: 30px;
    }
</style>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{% endblock %}
